<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" ></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" ></i></a>
            <a href="https://www.google.fr/maps/" target="_blank"><i class="fa fa-map-marker" ></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a routerLink="/accueil"
                   routerLinkActive="active current">Home</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/agence"
                routerLinkActive="active current">Agency</a></li>
            <li class="list-inline-item">
                <a routerLink="/emplois"
                routerLinkActive="active current">Career</a></li>
            <li class="list-inline-item">
                <a routerLink="/services"
                routerLinkActive="active current">Our Services</a></li>    
            <li class="list-inline-item">
                <a routerLink="/contact"
                routerLinkActive="active current">Contact</a></li>
        </ul>
        <h6><span class="fa fa fa-calendar"></span> Mon-Fry 08h30 to 12h00 - 13h30 to 17h00</h6>
        <p class="copyright">© 2018 Something ...</p>
    </footer>
</div>