<div class="container">
    <div class="row">
        <div class="col-md-7">

            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [maxZoom]="20" [minZoom]="10">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>

        </div>
        <div class="col-md-5">
            <div>
                <h5>Office 1</h5>
                <h6>Something Ltd </h6>
                <h6>Address Part 1
                    <br/> Address Part 2
                    <br/> Address Part 3</h6>
                <h6>
                    <span class="fa fa-mobile fa-lg"></span> 111 222 3333 </h6>
                <h6>
                    <span class="fa fa-at"></span> abderrahmene_bouidia@yahoo.com</h6>
            </div>
            <hr>
            <div>
                <h5>Office 2</h5>
                <h6>Something Ltd </h6>
                <h6>Address Part 1
                    <br/> Address Part 2
                    <br/> Address Part 3</h6>
                <h6>
                    <span class="fa fa-mobile fa-lg"></span> 111 222 3333 </h6>
                <h6>
                    <span class="fa fa-at"></span> abderrahmene_bouidia@yahoo.com</h6>
            </div>
        </div>
    </div>
</div>